/* IncomCardContent.css */

/* Card Styling */
.incom-card-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

/* General Styling for content rows */
.content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

/* Styling for icon-containing sections */
.icon-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Icon Styling */
.content-row .icon-content svg {
    font-size: 15px; /* Adjust this size if it's too large */
    color: #555;
    flex-shrink: 0;
}

/* General Text Styling */
.content-row span {
    color: #333;
    font-size: 10px; /* Reduced the font size to 14px from 16px */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 270px; /* Reduced the width to give more space. Adjust accordingly */
}

/* Text styling specific to icons */
.content-row .icon-content span {
    font-weight: bold;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: rgb(144,167,88);
    padding: 20px;
    border-radius: 5px;
    max-width: 900px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}



